alias co="git checkout"

editalias() {
  subl -nw ~/.aliases && . ~/.aliases
}

alias nower="npm i && bower i"
alias gs='git status'

alias ,="subl ."

alias zshrc="subl ~/.zshrc"

alias aliases="editalias"

alias g4="git p4"

alias g4s="git p4 submit --prepare-p4-only"

alias damster="~/projects/portfolio/dam-server/client/damster/build/dist/damster.sh"

alias ll="ls -alh"

update_jars() {
  sudo true;
  damster -adminlogin
  damster -stopserver;
  sleep 5;
  cd /Users/dan/projects/portfolio/dam-server/;
  ant jar;
  popd;
  cd /Users/dan/projects/portfolio/dam-server/build/dist/;
  ./mac-devtools.sh update_jboss_jars;
  popd
  sleep 20
  damster -startserver;
  damster -startserver;
}

update_ear() {
  sudo true;
  damster -adminlogin;
  damster -stopserver;
  cd /Users/dan/projects/portfolio/dam-server/;
  ant fast-dist;
  sudo rm /Applications/Extensis/Portfolio\ Server/applications/jboss/standalone/deployments/portfolio.ear;
  sudo cp -rf /Users/dan/projects/portfolio/dam-server/build/portfolio.ear /Applications/Extensis/Portfolio\ Server/applications/jboss/standalone/deployments/portfolio.ear;
  damster -startserver;
  damster -startserver;
}
earupdate() {
  update_ear;
}

_update_ear_nobuild() {
  sudo true;
  damster -adminlogin
  damster -stopserver;
  sleep 5;
  cd /Users/dan/projects/portfolio/dam-server/;
  # ant ear;
  sudo rm /Applications/Extensis/Portfolio\ Server/applications/jboss/standalone/deployments/portfolio.ear;
  sudo cp -rf /Users/dan/projects/portfolio/dam-server/build/portfolio.ear /Applications/Extensis/Portfolio\ Server/applications/jboss/standalone/deployments/portfolio.ear;
  damster -startserver;
  popd;
}

mdevtools() {
  sudo true;
  cd /Users/dan/projects/portfolio/dam-server/build/dist;
  ./mac-devtools.sh $@;
  popd;
}

gonuts() {
  (cd /Users/dan/projects/portfolio/dam-native && ant) && (cd /Users/dan/projects/portfolio/dam-server && ant && macdevremove)
}

alias fuckyou="echo 'No, fuck you.'"

alias fuck="echo FUCK"

alias uh="echo Think harder..."

alias monkey="ssh -t dan@2dot3.com tmux a -d"

alias subl.="subl ."

alias ....="../.."
alias .....="../../.."
alias ......="../../.."
alias .......="../../../.."
alias ........="../../../.."
alias .........="../../../../.."
alias ..........="../../../../.."
alias ...........="../../../../../.."
alias ............="../../../../../.."
alias .............="../../../../../../.."
alias ..............="../../../../../../.."
alias ...............="../../../../../../../.."
alias ................="../../../../../../../.."

alias gd="git icdiff"

alias macdevremove="cd /Users/dan/projects/portfolio/dam-server/build/dist; sudo ./mac-devtools.sh remove && sudo ./mac-devtools.sh install; popd;"

alias p="ps axco user,pid,command"

alias gitwip="(cd "$(git rev-parse --show-toplevel)" && git add -A :/ && git commit -am 'WIP')"
